<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task
			http://www.springframework.org/schema/task/spring-task.xsd">
			
	<!-- Bean -->
	<bean id="executeUsingBean" class="com.mightyjava.cron.ExecuteUsingBean" />
	<!-- Execute every 30 min -->
	<task:scheduled-tasks>
		<task:scheduled ref="executeUsingBean" method="run" cron="0 0/30 * * * ?"/>
	</task:scheduled-tasks>

	<!-- Annotation -->
	<bean id="executeUsingAnnotation" class="com.mightyjava.cron.ExecuteUsingAnnotation"></bean>
	<task:annotation-driven/>
</beans>